.footer {
  margin-left: auto;
  margin-right: auto;
  padding-top: 98px;
  padding-bottom: 96px;
  max-width: 1440px;
  background-color: var(--second-text-color);
}

.footer-conteiner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer-logo {
  text-align: center;
  margin-right: 0;
  margin-bottom: 72px;
  margin-right: auto;
  margin-left: auto;
}

.footer-logo-link {
  font-family: var(--second-font);
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.54px;
  color: var(--global-color-blue);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-logo-link:hover,
.footer-logo-link:focus {
  color: var(--active-button);
}

.studio-footer {
  color: var(--background-color-grey);
}

.footer-text {
  margin-top: 16px;
  width: 268px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--background-color-grey);
}

.footer-social {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}

.footer-social-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--global-color-blue);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:focus,
.footer-social-link:hover {
  background-color: #31d0aa;
}

.footer-social-icon {
  fill: var(--background-color-grey);
}

.footer-subscribe-block {
  display: block;
  margin-right: 46px;
}
.subscribe-form-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}

.footer-subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 24px;
}

.subscribe-form-label {
  display: flex;
}

.subscribe-form-input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 398px;
  height: 40px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: 1px solid #fff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-form-input::placeholder {
  color: #fff;
}
.subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  border-radius: 4px;
  background-color: var(--global-color-blue);
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-icon {
  margin-left: 16px;
}
.subscribe-button:hover,
.subscribe-button:focus {
  background-color: var(--active-button);
}

@media screen and (min-width: 768px) {
  .footer-conteiner {
    flex-direction: row;
    align-items: baseline;
  }

  .footer-logo {
    text-align: start;
    margin-right: 0;
    margin-bottom: 72px;
    margin-left: 80px;
  }

  .studio-footer {
    color: #fff;
  }

  .footer-social {
    display: inline-block;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-left: 24px;
    margin-right: 0;
  }

  .footer-social-text {
    align-items: start;
  }

  .footer-social-list {
    display: flex;
    justify-content: center;
    gap: 16px;
  }

  .footer-social-item {
    width: 40px;
    height: 40px;
  }

  .footer-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--global-color-blue);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-social-link:focus,
  .footer-social-link:hover {
    background-color: #31d0aa;
  }

  .footer-social-icon {
    fill: var(--background-color-grey);
  }

  .footer-subscribe-block {
    margin-left: 80px;
  }
  .subscribe-form-text {
    display: block;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
  }

  .footer-subscribe-form {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .subscribe-form-label {
    display: flex;
    align-items: start;
  }

  .subscribe-form-input {
    display: block;
    width: 264px;
    height: 40px;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-logo {
    text-align: start;
    margin-right: 0;
    margin-bottom: 72px;
    margin-right: 24px;
    margin-left: 0;
  }

  .footer-social {
    margin-right: 80px;
    margin-left: 0;
  }

  .footer-subscribe-block {
    margin-left: 0;
  }
}
