.section-customers {
  text-align: center;
  padding-top: 96px;
  padding-bottom: 96px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
}

.customers-headlines {
  margin-bottom: 72px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  color: #2e2f42;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 72px 16px;
}

.customers {
  width: 190px;
  height: 88px;
}

.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid var(--icon-color);
  color: var(--icon-color);
  transition-property: border-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--active-button);
  color: var(--active-button);
}

.customers-icon {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .section-customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .customers-list {
    gap: 72px 24px;
  }

  .customers {
    width: 168px;
    height: 88px;
  }
}
