.section-doing {
  margin-top: 96px;
}

.doing {
  display: none;
}

@media screen and (min-width: 1158px) {
  .section-doing {
    margin-top: 120px;
  }

  .doing {
    display: block;
  }

  .doing-headlines {
    margin-bottom: 72px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--second-text-color);
  }

  .doing-style {
    border: 1px solid #e7e9fc;
  }
}
